@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
}

.modal-content {
  background-color: #fffafa;
}

body {
  padding-top: 100px;
  /* Altura de la barra de navegación */
  background: #1488CC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2B32B2, #1488CC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  flex-wrap: wrap;
  gap: 1rem;
}

h1 {
  font-size: 35px;
  color: #fffefe;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-repeat: repeat;
}

p {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 50px;
  background-repeat: repeat;
}

.nav-item {
  padding: 0 15px;
}

footer {
  background: transparent;
  backdrop-filter: blur(3px);
  padding: 10rem;
}

.footer-icon {
  color: #ffffff;
  font-size: 28px;
  align-items: center;
}

.img {
  text-align: center;
  align-items: center;
  transition: transform 0.3s ease;
  padding: 15px;
  margin: 20px;
  height: 200px;
  width: auto;
}

.img:hover {
  transform: scale(1.1);
}

a {
  color: cornsilk;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
}

.modal-content {
  background-size: cover;
  background-color: #efefef;
  color: #272626;
  background-repeat: no-repeat;
  border-radius: 25px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea {
  margin-bottom: 20px;
  padding: 8px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

form label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Estilos para los mensajes de error */
form .error {
  color: #ff0000;
  margin-bottom: 10px;
}

/* Estilos para mensajes de éxito */
form .success {
  color: #09937c;
  margin-bottom: 10px;
}

.submit-button {
  background-color: #ffffff;
  color: #2c1eaa;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  margin: 6px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #5a83da;
  color: #fff;
}

li {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 14px;
  border-radius: 4px;
}

