@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

body {
  padding-top: 100px;
  /* Altura de la barra de navegación */
  background: #1488cc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2b32b2, #1488cc);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2b32b2, #1488cc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 35px;
  color: #fffefe;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 50px;
  background-repeat: repeat;
}

.nav-item {
  padding: 0 15px;
}

footer {
  background: transparent;
  backdrop-filter: blur(3px);
  padding: 10rem;
}

.footer-icon {
  color: #ffffff;
  font-size: 28px;
  align-items: center;
}

.img {
  text-align: center;
  align-items: center;
  transition: transform 0.3s ease;
  padding: 15px;
  margin: 20px;
  height: 200px;
  width: auto;
}

.img:hover {
  transform: scale(1.1);
}

a {
  color: cornsilk;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
}

.modal-content {
  background-size: cover;
  background-color: #efefef;
  color: #272626;
  background-repeat: no-repeat;
  border-radius: 25px;
}

/* Estilos para el formulario de inicio de sesión */
form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  background-color: #efefef;
  color: rgb(18, 17, 17);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  display: list-item;
  margin-bottom: 5px;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

input[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.submit-button {
  background-color: #ffffff;
  color: #2c1eaa;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  margin: 6px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #5a83da;
  color: #fff;
}

li {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 14px;
  border-radius: 4px;
}

.p-1 {
  color: rgb(34, 33, 33);
}

.table-container {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 8px;
  border: 1px solid #ccc;
}

thead th {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.message {
  color: red;
  font-size: 16px;
  margin-bottom: 10px;
}
